[flake8]

# E704: The linter doesn't parse types properly.
# T499, T484: Silence mypy since using pyre for typechecking.
# W503: Black and flake8 disagree on how to place operators.
# E231: Black and flake8 disagree on whitespace after ','.
# E203: Black and flake8 disagree on whitespace before ':'.
ignore = T484, T499, W503, E704, E231, E203

# Consistent with Black
max-line-length = 100
